audiocraft==1.4.0a2
fastapi==0.115.12
langchain==0.3.24
langchain_community==0.3.23
langchain_google_genai==2.1.4
moviepy==1.0.3
numpy==2.2.5
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
Pillow==11.2.1
protobuf==6.30.2
pytesseract==0.3.10
python-dotenv==1.1.0
scipy==1.15.2
soundfile==0.12.1
torch==2.1.0+cu118
uvicorn==0.34.2
python-multipart==0.0.9
aiofiles==23.2.1
faiss-cpu>=1.7.0